{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% if jokes %}
        {% for joke in jokes %}
        {{ joke.value }} <a class="btn btn-outline-light" href="{{ path('app_home_savejoke',{value: joke.value}) }}"> sauvegarder cette blague</a><br> <br>
        {% endfor %}
    {% endif %}

    <a class="btn btn-info" href="{{ path('app_home_httprequest') }}">Appeler des blagues sur CHUCK</a>


{% endblock %}
